<a href="https://colab.research.google.com/github/ArsolonRaymond/Arsolon-Raymond-OOP-58001/blob/main/Fundamentals_Of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fundamentals Of Python

Python Variables

In [ ]:
x = float (1)
a, b = 0, -1
a, b, c = "Katrina", "Rue", "Nate"

print('This a sample')
print(a)
print(c)

This a sample
Katrina
Nate

Casting

In [ ]:
print(x)

1.0

Type()Function

In [ ]:
y = "Romblon"

print(type(y))
print(type(x))

<class 'str'>
<class 'float'>

Double quotes and Single quotes

> Indented block

In [ ]:
#h = "Baby, Goodnight"
h = 'Baby, Goodnight'
v = 1
V = 3

print(h)
print(v)
print(v+1)

Baby, Goodnight
1
2

Multiple Variables

In [ ]:
x, y, z = "I", "Miss", 'You'

print(x)
print(y)
print(z)
print(x, y, z)

I
Miss
You
I Miss You

One Value to Multiple Variables

In [ ]:
x = y = z = "Hello"
print(x, y, z)
print(x)
print(y)
print(z)

Hello Hello Hello
Hello
Hello
Hello

Output Variables

In [ ]:
x = "Python"
y = "I love"

print("I love " + x)
print(y + " " + x)

I love Python
I love Python



```
# This is formatted as code
```

Arithmetic Operations

In [ ]:
m = 5
o = 2
n = 7

print(m+n)
print(m-n)
print(o*n)
print(int(m/o))
print(5/m)
print(5%m)
print(5//m)
print(5**2)

12
-2
14
2
1.0
0
1
25

Assignment Operators

In [ ]:
k = 2
l=3
k+=3 #same as k=k+3

print(k)

print(l>>1)

5
1

Boolean Operators

In [ ]:
k=2
l=3
print(k>>2)#shift right twice 
print(k<<2)#shift left twice

0
8

Relational Operators

In [ ]:
t=1
v=2

print(t>v)
print(v==t)

False
False

Logical Operators

In [ ]:
print(v<t and t==t)
print(v<t or t==v)
print(not (v<t or t==v))

False
False
True

Identity Operators

In [ ]:
Identity Operators

False
True