<a href="https://colab.research.google.com/github/ArsolonRaymond/Arsolon-Raymond-OOP-58001/blob/main/Operations_and_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean Operators

In [1]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

# bool() function

In [2]:
print(bool("James"))
print(bool(19))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

# Function can return a boolean

In [3]:
def myFunction():
  return True

print(myFunction())

True

In [4]:
if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Application 1

In [5]:
print(10>9)

a=54
b=14
print(a==b)
print(a!=b)

True
False
True

# phyton operators

In [6]:
print(10+3)
print(10 - 3)
print(10*3)
print(10/3)
print(10 % 3)
print(10//3)

13
7
30
3.3333333333333335
1
3

# bitwise operators

In [7]:
#a=60, binary 0011 1100
#b=13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<b)
print(a>>b)

6
62
56
884736
0

Application 2
Assignment Operators

In [11]:
a+=3 #Same As a = a+3
a-=3 #Same As a = a-3
a*=3 #Same As a = a*3
a/=3 #Same As a = a/3
a%=3 #Same As a = a%3

# Logical Operators

In [12]:
k = True 
l = False 
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

# identify operators

In [13]:
print(k is l)
print(k is not l)

False
True

# Control Structures

if statement

In [14]:
v = 1
z = 1

if v<z:
  print("1 is less than 2")

Elif Statement

In [15]:
if v<z:
  print("v is less than z")

elif v!=z:
  print("v is not z")

Else Statement

In [18]:
number = int(input())

if number>3:
  print("Positive")

elif number<3:
  print("negative")

else:
  print("number is equal to zero")

3
number is equal to zero

Application 3 - Develop a Phython program that will accept if a person is entitled to vote or not

In [19]:
age = int(input())

if age >= 18:
  print("You are qulifed to vote")
else:
  print("you are not qualified to vote")
12

12
you are not qualified to vote

12

Nested if...Else

In [20]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

32
u is above 10
u is above 20
u is above 30

Loop Structure

In [21]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
Season=['rainy','sunny']
for x in week:
  for y in Season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

break statement

In [22]:
for x in week:
  print(x)
  if x == 'Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

While loop

In [23]:
i=1 

while i<4:
  print(i)
  i+=1

1
2
3

Application 4 - Creat a phython program that displays numbers from 1 to 4 :

In [24]:
j=1
while j<=4:
  print(j)
  j+=1

1
2
3
4

Application 5 - Create a phython program that displays number 4 using while and break statement:

In [25]:
j=1
while j<=4:
  j+=1
  if j == 4:
   print(j)

4